[filter:paste_prefix]
use = egg:PasteDeploy#prefix

[app:briefkasten]
use = egg:briefkasten
filter-with = paste_prefix
pyramid.reload_templates = false
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false
pyramid.debug_templates = false
pyramid.default_locale_name = de
pyramid.includes = 
fs_dropbox_root = {{apphome}}/var/fs_dropbox_root
fs_bin_path = {{apphome}}/middleware_scripts
# appserver_root_url *must* end with trailing slash!
appserver_root_url = {{ploy_approot_url}}
test_submission_secret = {{ploy_test_submission_secret}}

[server:main]
use = egg:pyramid#wsgiref
host = 0.0.0.0
port = {{application_port}}

[composite:main]
use = egg:Paste#urlmap
/briefkasten/assets = assets
/ = default

[app:assets]
use = egg:Paste#static
document_root = {{themes_dir}}/{{ploy_theme_name}}/assets

[pipeline:default]
pipeline = theme
   briefkasten

[filter:theme]
use = egg:diazo
rules = {{themes_dir}}/{{ploy_theme_name}}/rules.xml
debug = false
