[buildout]
extends = buildout/appserver.cfg
develop = .

[config]
appserver_root_url = {{awsome_approot_url}}
fs_theme_path = ${buildout:directory}/themes/{{awsome_theme_name}}
test_submission_secret = {{watchdog_testing_secret}}
