[ez-master:vm-master]
# here you configure access to the jail host
# the values here are pre-set for when using ``make start-vm``
host = 127.0.0.1
port = 47022
user = root
# the port at which the webserver listens, set to 47023 for when using ``make start-vm``
# otherwise set to 443
https_port = 47023
#https_port = 443
# replace the fingerprint with the output from ``make bootstraphost``
# (or with whatever the SSH fingerprint of your host is, if you did not set it up via the Makefile)
fingerprint = 

# the remaining values of this section usually don't need to be adjusted
# the pkg repository URL that the jails should use
ansible-jails_pkg_url = file:///basejail/poudriere_data/packages/92amd64-default
debug-commands = false
fabfile = ../setup/jails_host.py
bootstrap-system-pool-size = 4G
# bootstrap-swap-size = 1G
# bootstrap-system-devices = ada0
bootstrap-geli = yes
password-fallback = true

[macro:ez-base]
ansible-fqdn=briefkasten.virtualbox
approot_url=/briefkasten/
admins=tom@tomster.org erdgeist@erdgeist.org
editors=tom@tomster.org erdgeist@erdgeist.org
mail_sender=noreply@zeit.de
test_submission_secret = changeme
# needs trailing slash:
local_theme_path = ../../../../briefkasten-theme/
theme_name = zeitonline

# the remaining values in this file usually don't need to be adjusted
flavour = base
user = root
startup_script = ../provisioning/vm-master/startup-ansible-jail
proxycommand = nohup {path}/../bin/assh vm-master -W {ip}:22
proxyhost = vm-master

[ez-zfs:data]
path = tank/data
create = true
set-mountpoint = /data

[ez-zfs:shared]
path = {zfs[data][path]}/shared
create = true
set-exec = off
set-setuid = off

[ez-zfs:jails]
path = {zfs[data][path]}/jails
create = true

[ez-instance:webserver]
<= macro:ez-base
ip = 10.0.0.1
mounts =
    src={zfs[shared]}/cache/pkg/All dst=/var/cache/pkg/All create=true

[ez-instance:appserver]
<= macro:ez-base
ip = 10.0.0.2
fabfile = ../setup/appserver.py
local_pgpkey_path = pgp_pubkeys/
mounts =
    src={zfs[shared]}/cache/pkg/All dst=/var/cache/pkg/All create=true

[ez-instance:cleanser]
<= macro:ez-base
ip = 10.0.0.3

[ansible]
playbooks-directory = ../setup

