[ez-master:vm-master]
# here you configure access to the jail host
# the sample values here are pre-set for when using ``make start-vm``
# the IP address under which the target host is reachable
host = 127.0.0.1
# the SSH port that the target host can be reached at.
# this may differ from the port number it is *listening* to in case of the local
# port forwarding of the virtualbox instance or any other firewall settings
# for most other situations you will set this to 22
port = 47022
# the SSH user that is used for connecting to the target host
user = root

# the SSH fingerprint of the target host
# replace the value with the output from ``make bootstrap-host``
# (or with whatever the SSH fingerprint of your host is, if you did not set it up via the Makefile)
fingerprint = 

# the port at which the webserver listens, set to 47023 for the virtualbox when using ``make start-vm``
# otherwise set to 443
https_port = 47023
#https_port = 443

##################################################################
# the remaining values of this section usually don't need to be adjusted
# the pkg repository URL that the jails should use
ansible-jails_pkg_url = file:///basejail/poudriere_data/packages/92amd64-default
debug-commands = false
fabfile = ../setup/jails_host.py
bootstrap-system-pool-size = 4G
# bootstrap-swap-size = 1G
# bootstrap-system-devices = ada0
bootstrap-geli = yes
password-fallback = true

[macro:ez-base]
# the FQDN under which the webserver is reached
# ansible-fqdn=briefkasten.virtualbox

# the URL slug under which the briefkasten should be hosted
approot_url=/briefkasten/

# list of editorial recipients, space separated
# cleansed submissions will be encrypted for and sent to
# each address. This means that for each address there
# needs to be a corresponding public PGP key in the system
# (etc/pgp_pubkeys)
editors=bob@acme.org alice@foo.com


# list of admin recipients, space separated
# admins get notified when a submission failes
# for each address the corresponding PGP key needs
# have been uploaded to the app server
admins=foo@bar.com baz@foo.org

# the return address used when sending out emails to editors and admins
mail_sender=noreply@briefkasten.virtualbox

# path on the control host to where a valid briefkasten theme is
# located. needs trailing slash:
local_theme_path = ../../../../briefkasten-theme/
# the name of the theme
theme_name = zeitonline

# a token used to identify submissions posted by the watchdog
# you must configure the identical value for the watchdog process
# any submission POST that contains a key named ``testing_secret``
# and a value matching the value specified here will *not* be
# sent to the editors but 
test_submission_secret = changeme
# TODO: document the watchdog process, expose its configuration here, too.

##################################################################
# the remaining values in this file usually don't need to be adjusted
flavour = base
user = root
startup_script = ../setup/vm-master/startup-ansible-jail
proxycommand = nohup {path}/../bin/assh vm-master -W {ip}:22
proxyhost = vm-master

[ez-zfs:data]
path = tank/data
create = true
set-mountpoint = /data

[ez-zfs:shared]
path = {zfs[data][path]}/shared
create = true
set-exec = off
set-setuid = off

[ez-zfs:jails]
path = {zfs[data][path]}/jails
create = true

[ez-instance:webserver]
<= macro:ez-base
ip = 10.0.0.1
mounts =
    src={zfs[shared]}/cache/pkg/All dst=/var/cache/pkg/All create=true

[ez-instance:appserver]
<= macro:ez-base
ip = 10.0.0.2
fabfile = ../setup/appserver.py
local_pgpkey_path = pgp_pubkeys/
mounts =
    src={zfs[shared]}/cache/pkg/All dst=/var/cache/pkg/All create=true

[ez-instance:cleanser]
<= macro:ez-base
ip = 10.0.0.3

[ansible]
playbooks-directory = ../setup

