/bin/
/briefkasten.ini
/buildout.cfg
/docs/html/
/.coverage
/htmlcov/
/coverage.xml
.installed.cfg
*.egg-info/
develop-eggs/
parts/
\*.pyc
__pycache__
/.codeintel
/include/
/lib/
/var/
/fabfile.py
/src
/etc
