[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chameleon = "*"
click = "*"
colander = "*"
cssselect = "*"
diazo = "*"
future = "*"
humanfriendly = "*"
hupper = "*"
iso8601 = "*"
itsdangerous = "*"
jinja2 = "*"
lxml = "*"
markupsafe = "*"
paste = "*"
pastedeploy = "*"
pathtools = "*"
peppercorn = "*"
plaster-pastedeploy = "*"
plaster = "*"
pyramid-chameleon = "*"
pyramid = "*"
python-gnupg = "*"
pyyaml = "*"
"repoze.lru" = "*"
"repoze.xmliter" = "*"
six = "*"
translationstring = "*"
venusian = "*"
watchdog = "*"
webob = "*"
"zope.deprecation" = "*"
"zope.interface" = "*"

[dev-packages]

[requires]
python_version = "3"
