Chameleon==2.24
colander==1.0
cssselect==0.9.1
diazo==1.2.2
future==0.15.2
iso8601==0.1.11
itsdangerous==0.24
lxml==3.5.0
Paste==2.0.2
PasteDeploy==1.5.2
peppercorn==0.5
python-gnupg==0.3.8
pyramid==1.5.7
pyramid-chameleon==0.3
repoze.lru==0.6
repoze.xmliter==0.6
six==1.10.0
translationstring==1.3
venusian==1.0
WebOb==1.5.1
zope.deprecation==4.1.2
zope.interface==4.1.3
