#!/bin/sh
#
# PROVIDE: jdispatch
# REQUIRE: jaildaemon ezjail

. /etc/rc.subr

name="jdispatch"
rcvar="jdispatch_enable"
start_cmd="${name}_start"
stop_cmd=":"

jdispatch_start()
{
    /usr/local/bin/jdispatch
}

load_rc_config $name
run_rc_command "$1"
