Fabric==1.9.1
Jinja2==2.7.3
MarkupSafe==0.23
PyYAML==3.11
ansible==1.7.1
bsdploy==1.1.0
ecdsa==0.11
execnet==1.2.0
jarn.mkrelease==3.8
lazy==1.2
paramiko==1.14.1
ploy==1.0.1
ploy-ansible==1.1.0
ploy-ezjail==1.0.0
ploy-fabric==1.0.0
pycrypto==2.6.1
pyliblzma==0.5.3
setuptools-git==1.1
setuptools-hg==0.4
setuptools-subversion==3.1
wsgiref==0.1.2
zc.buildout==2.2.1
