Fabric==1.8.2
Jinja2==2.7.2
MarkupSafe==0.19
PyYAML==3.10
ansible==1.5.3
bsdploy==0.1alpha1
ecdsa==0.11
lazy==1.1
mr.awsome==1.0rc1
mr.awsome.ansible==1.0b1
mr.awsome.ezjail==1.0b1
mr.awsome.fabric==1.0b1
paramiko==1.13.0
pycrypto==2.6.1
wsgiref==0.1.2
