Chameleon==4.6.0
click==8.1.8
colander==2.0
cssselect==1.2.0
diazo==2.0.2
future==1.0.0
humanfriendly==10.0
hupper==1.12.1
iso8601==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
legacy-cgi==2.6.3
lxml==5.4.0
MarkupSafe==3.0.2
Paste==3.10.1
PasteDeploy==3.1.0
plaster==1.1.2
plaster-pastedeploy==1.0.1
pyramid==2.0.2
pyramid-chameleon==0.3
python-gnupg==0.5.4
PyYAML==6.0.2
repoze.xmliter==0.6.1
setuptools==75.9.1
translationstring==1.4
venusian==3.1.1
watchdog==6.0.0
WebOb==1.8.9
zope.deprecation==5.1
zope.interface==7.2
briefkasten
