Chameleon==3.10.1
click==7.1.2
colander==1.8.3
cssselect==1.1.0
diazo==1.4.2
future==0.18.2
humanfriendly==8.2
hupper==1.10.3
iso8601==1.0.2
itsdangerous==2.1.2
Jinja2==2.11.3
lxml==4.9.1
MarkupSafe==1.1.1
Paste==3.5.1
PasteDeploy==2.1.1
pathtools==0.1.2
peppercorn==0.6
plaster-pastedeploy==0.7
plaster==1.0
pyramid-chameleon==0.3
pyramid==2.0
python-gnupg==0.4.9
PyYAML==5.3.1
repoze.lru==0.7
repoze.xmliter==0.6.1
six==1.14.0
translationstring==1.4
venusian==3.0.0
watchdog==2.1.9
WebOb==1.8.7
zope.deprecation==4.4.0
zope.interface==5.4.0
briefkasten
