Chameleon==3.9.1
colander==1.8.3
cssselect==1.1.0
diazo==1.4.2
future==0.18.2
iso8601==1.0.2
lxml==4.8.0
Paste==3.5.0
PasteDeploy==2.1.1
pyramid==2.0
pyramid-chameleon==0.3
python-gnupg==0.4.8
repoze.lru==0.7
repoze.xmliter==0.6
translationstring==1.4
venusian==3.0.0
WebOb==1.8.7
zope.deprecation==4.4.0
zope.interface==5.1.0
briefkasten
