/* briefkasten specific styling goes here */

a,
a:visited,
a.deformSeqAdd:visited {
    color: #990000;
}

#briefkasten-form {
    width: 50%;
    float: left;
}


#briefkasten-form .deform li {
    float: left;
}

.deformFileupload {
    float: left;
}

#briefkasten-form .deformSeqAdd {
    display: block;
    clear: both;
}

#briefkasten-form #item-deformField1 {
    width: 420px;
}

.deformSeq ul {
    float: left;
}

.deformSeq ul li {
    float: left;
    display: inline;
    clear: none;
}

#briefkasten-form .errorLi {
    display: none;
}

#briefkasten-form .error {
    background-color: transparent;
}

a {
    font-family: Arial,Helvetica,FreeSans,sans-serif;

}

#bk h1,
h2.texttitle {
    font: 700 24px/28px Arial,Helvetica,FreeSans,sans-serif;
    margin: 1em 0 .5em;
}

p.subtext {
    font: 400 12px/1.2 Arial,sans-serif;
    margin-bottom: 2em;
    line-height: 16px;
}

#form-content {
	display: block;
	clear: both;
}

#bk h2,
.contact, .desc {
    font: 400 12px/1.2 Arial,sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

.deformFormFieldset {
	border: 0;
	margin: 5px auto 5px 10px;
	padding: 0;
}

#deformField1 {
	width: 400px;
	height: 120px;
}

.formtext {
	float: right;
	margin: 50px 30px 0 0;
	width: 410px;
}

p.copy {
    font: 400 14px/1.4 Georgia,serif;
}

#bk_upload_text{
    width: 50%;
    height: 120px;
    font: 13px Arial;
    float: right;
    cursor: auto;
    margin-top: 20px;
 }

#fingerprint-editorial {
    float: left;
    padding: .5em 1em 0 0;
}