---
- name: create root data filesystem
  zfs:
    name: tank/data
    state: present
  tags:
    - zfs-layout

- name: create data filesystem
  zfs:
    name: tank/data/briefkasten
    state: present
    mountpoint: /var/briefkasten
  tags:
    - zfs-layout

- name: upgrade ZFS version
  command: zpool upgrade tank 
  tags: zfs-layout 

- name: Ensure basejail etc exists
  file:
    path: "{{ jails_dir }}/newjail/etc/pkg/repos"
    state: directory
  tags: poudriere

- name: Ensure our self-signed cert will be accepted
  copy:
    src: cert.pem
    dest: "{{ jails_dir }}/newjail/etc/ssl/cert.pem"
  tags: poudriere

- name: Ensure our self-signed poudriere packages will be accepted
  copy:
    src: poudriere.cert
    dest: "{{ jails_dir }}/newjail/etc/ssl/briefkastenpkg.zeit.de.pub"
  tags: poudriere

- name: Ensure pkg configuration will be present in each jail
  copy:
    src: pkg.conf
    dest: "{{ jails_dir }}/flavours/bsdploy_base/usr/local/etc/pkg.conf"

- name: Ensure pkg repo configuration will be present in each jail
  template:
    src: pkg_repo.conf
    dest: "{{ jails_dir }}/flavours/bsdploy_base/usr/local/etc/pkg/repos/FreeBSD.conf"
  tags: poudriere

- name: Make sure temporary files are cleared during startup
  sysrc:
    name: clear_tmp_enable
    value: "YES"

- name: disable jail_parallel_start (bsdploy enables it by default)
  sysrc:
    name: jail_parallel_start
    value: "NO"
