[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bsdploy = {ref = "use-extra-zfs-properties", git = "https://github.com/witsch/bsdploy.git"}
ploy = {ref = "fix-timeout-handling", git = "https://github.com/witsch/ploy.git"}
ploy-ec2 = "*"

[dev-packages]

[requires]
python_version = "3"
