/* briefkasten specific styling goes here */

a,
a:visited {
    color: #990000;
}

#briefkasten-form .deform li {
    float: left;
}

.deformFileupload {
    float: left;
}

#briefkasten-form #item-deformField1 {
    width: 420px;
}

#bk p.error,
#bk .deformClosebutton,
#bk .deformSeqAdd {
    display: none!important;
}

.deformSeq ul {
    float: left;
}

.deformSeq ul li {
    float: left;
    display: inline;
    clear: none;
}

#briefkasten-form .errorLi {
    display: none;
}

#briefkasten-form .error {
    background-color: transparent;
}


#bk h1,
h2.texttitle {
    font: 700 24px/28px Arial,Helvetica,FreeSans,sans-serif;
    margin: 1em 0 .5em;
}


#form-content {
	display: block;
	clear: both;
}

#bk h2,
.contact, .desc {
    font: 400 12px/1.2 Arial,sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

.deformFormFieldset {
	border: 0;
	margin: 5px auto 5px 10px;
	padding: 0;
}

#deformField1 {
	width: 400px;
	height: 120px;
}


.formtext {
	float: right;
	margin: 50px 30px 0 0;
	width: 410px;
}

p.copy {
    font: 400 14px/1.4 Georgia,serif;
}