---
- name: install zabbix agent
  pkgng:
    name: zabbix3-agent
    state: present
    cached: yes

- name: configure agent
  template:
    src: zabbix_agentd.conf
    dest: /usr/local/etc/zabbix3/zabbix_agentd.conf 

- name: enable agent
  service:
    name: zabbix_agentd
    enabled: true
    state: started
