IMAPClient==0.11
PasteDeploy==1.5.2
WebOb==1.4
cssselect==0.9.1
lxml==3.3.6
mechanize==0.2.5
pyquery==1.2.9
pyramid==1.5.1
pyramid-mailer==0.13
pytz==2014.7
repoze.lru==0.6
repoze.sendmail==4.2
transaction==1.4.3
translationstring==1.1
venusian==1.0
wsgiref==0.1.2
zope.deprecation==4.1.1
zope.event==4.0.3
zope.interface==4.1.1
zope.schema==4.4.2
zope.testbrowser==4.0.4
