---
fs_pgp_pubkeys: /var/briefkasten/pgp_pubkeys
fs_bin_path: {{apphome}}/middleware_scripts/

dropbox_view_url_format: 'https://{{ploy_fqdn}}/{{ploy_approot_url}}/dropbox/%s'
dropbox_editor_url_format: 'https://{{ploy_fqdn}}/{{ploy_approot_url}}/dropbox/%s/%s'
{% if ploy_dropbox_cleansed_archive_path is defined %}
dropbox_cleansed_archive_path: '{{ ploy_dropbox_cleansed_archive_path }}'
{% endif %}
{% if ploy_dropbox_cleansed_archive_url_format is defined %}
dropbox_cleansed_archive_url_format: '{{ ploy_dropbox_cleansed_archive_url_format }}'
{% endif %}
{% if ploy_dropbox_failed_archive_path is defined %}
dropbox_failed_archive_path: '{{ ploy_dropbox_failed_archive_path }}'
{% endif %}
{% if ploy_dropbox_failed_archive_url_format is defined %}
dropbox_failed_archive_url_format: '{{ ploy_dropbox_failed_archive_url_format }}'
{% endif %}
editors:
{% for recipient in ploy_editors.split() %}
    - {{ recipient }}
{% endfor %}
admins:
{% for recipient in ploy_admins.split() %}
    - {{ recipient }}
{% endfor %}
{% if ploy_watchdog_imap_recipient is defined %}
watchdog_imap_recipient: {{ploy_watchdog_imap_recipient}}
{% endif %}
test_submission_secret: {{ploy_test_submission_secret}}
mail.host: {{ploy_mail_host}}
mail.port: {{ploy_mail_port}}
mail.default_sender: {{ploy_mail_sender}}
{% if ploy_mail_password is defined %}
mail.user:  {{ploy_mail_user}}
mail.password: {{ploy_mail_password}}
{% endif %}
num_workers: {{ploy_cleanser_count}}
attachment_size_threshold: {{ ploy_attachment_size_threshold }}
drop_ttl_days: {{ploy_drop_ttl_days}}
