# Briefkasten sample config file
#
#
# Note that for all email addresses gpg should have
# a public key in its keyring

# List of administrator email addresses
the_admins="erdgeist@erdgeist.org tom@tomster.org"

# List of editors email addresses
the_editors="fabian.mohr@zeit.de erdgeist@erdgeist.org"

# The default message
# If the user just sends an attachment, this file is used as the default
# message
the_default_message="/usr/local/etc/briefkasten/default_message"


# The sender
# Appears as the sender in the emails sent to all participants
the_sender="noreply@briefkasten.dtfh.de"

# The cleanser
# If non-empty, process.sh connects to the cleanser host to do the work
# and expects a process.sh to be in PATH on that host
# To provide User, Idenity, HostName etc for the cleanser host, put them
# in the ssh-config file that you pass in the_cleanser_ssh_conf

# the_cleanser=cleanserjail
# the_cleanser_ssh_conf=/usr/local/etc/briefkasten
