name: Backend CI
on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
concurrency:
  group: backend
  cancel-in-progress: true
jobs:
  linter:
    uses: zeitonline/gh-action-workflows/.github/workflows/pre-commit.yaml@f17cf763525166b0862b3bd4ed89850e29e44f3a # 2.11.0
  build:
    uses: zeitonline/gh-action-workflows/.github/workflows/build-test-push.yaml@f17cf763525166b0862b3bd4ed89850e29e44f3a # 2.11.0
    needs:
      - linter
    secrets: inherit
    with:
      targets: $none  # dummy target in order to run "release-please"
  notify:
    uses: zeitonline/gh-action-workflows/.github/workflows/release-notification.yaml@f17cf763525166b0862b3bd4ed89850e29e44f3a # 2.11.0
    needs:
      - build
    if: needs.build.outputs.release_created
    secrets: inherit
    with:
      environment: production
      version: ${{ needs.build.outputs.tag_name }}
      emoji: mailbox
