name: Test backend
on:
  workflow_call:
  workflow_dispatch:
  push:
    branches-ignore:
      - 'main'
    paths:
      - '.github/workflows/backend-tests.yaml'
      - '.dockerignore'
      - 'Dockerfile'
      - 'testing.yaml'
      - 'application/briefkasten/**'
      - 'application/Pipfile**'
      - 'application/pyproject.toml'
      - 'application/requirements.txt'
      - 'application/setup.*'
      - 'application/tox.ini'
jobs:
  build:
    uses: zeitonline/gh-action-workflows/.github/workflows/build-test-push.yaml@4241bed0752a9d591a002a07a1e46dd0514cf951 # 2.10.1
