briefkasten-watchdog==0.2.1
cssselect==1.1.0
IMAPClient==2.2.0
lxml==4.8.0
mechanize==0.4.8
PasteDeploy==2.1.1
pyquery==1.4.3
pyramid==2.0
pyramid-mailer==0.15.1
pytz==2022.1
repoze.lru==0.7
repoze.sendmail==4.4.1
transaction==3.0.1
translationstring==1.4
venusian==3.0.0
WebOb==1.8.7
wheel==0.37.1
zope.deprecation==4.4.0
zope.event==4.5.0
zope.interface==5.4.0
zope.schema==6.2.0
zope.testbrowser==5.6.1

