ZPOOL={{ zpool_name }}
FREEBSD_HOST=ftp://ftp.freebsd.org
RESOLV_CONF=/etc/resolv.conf
BASEFS=/usr/local/poudriere
USE_PORTLINT=no
USE_TMPFS=yes
# point this to basejail?
POUDRIERE_DATA={{ jails_dir  }}/basejail/poudriere_data
DISTFILES_CACHE=/usr/ports/distfiles
CHECK_CHANGED_DEPS=yes
CCACHE_DIR=/var/cache/ccache
SAVE_WRKDIR=yes
NOLINUX=yes
